html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura */
    margin: 0; /* Elimina el margen por defecto */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C0AB8D;
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
}

header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto; /* Esto mueve el nav hacia la derecha */
    font-size: 25px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.user-icon {
    margin-left: auto;
}

.user-icon img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
}

main {
    flex: 1; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

.content {
    flex: 2;
}

footer {
    background-color: #222;
    color: #888;
    padding: 15px 20px;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: 'Jockey One', sans-serif; /* Aplica la fuente */
}


.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.footer-left, .footer-right {
    width: 48%;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

footer p {
    margin: 0 0 5px 0;
}

.copyright {
    text-align: center;
    margin-top: 15px;
    color: #666;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* SERVICIOS */

/* Estilo general para main */
main .servicios-m {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Cambiado a flex-start para alinear en la parte superior */
    width: 70%;
    margin: 0 auto;
    height: 100vh; /* para centrar verticalmente en la pantalla */
}

/* Estilo para los rectángulos */
.service-box {
    background-color: #f0f0f0;
    width: 30%;
    height: 600px; /* Altura aumentada */
    display: flex;
    flex-direction: column; /* Permite alinear elementos verticalmente */
    justify-content: flex-start; /* Alinear contenido en la parte superior */
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px; /* Espacio adicional en la parte superior */
}
.service-box h2 {
    margin: 0; /* Eliminar margen para que no sobresalga */
    padding: 10px 0; /* Espacio adicional alrededor del título */
}

/* Estilo para la cuadrícula de imágenes */
.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 10px; /* Espacio entre las imágenes */
    margin-top: 20px; /* Espacio superior para separar el título de las imágenes */
    justify-items: center; /* Centrar imágenes horizontalmente dentro de la cuadrícula */
}

/* Estilo para las imágenes */
.images-grid img {
    width: 90%; /* Hacer que las imágenes ocupen el ancho casi completo del contenedor */
    height: auto; /* Mantener la proporción de las imágenes */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
}

.treatments-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    gap: 10px; /* Espacio entre las imágenes */
    margin-top: 20px; /* Espacio superior para separar el título de las imágenes */
    justify-items: center; /* Centrar imágenes horizontalmente dentro de la cuadrícula */
}

.treatments-grid img {
    width: 90%; /* Ancho casi completo del contenedor */
    height: auto; /* Mantener la proporción de las imágenes */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
}
