/*CSS PANTALLAS ADMIN*/


.body_admin {
    background-color: #f8f9fa;
}

.sidebar {
    border-right: 1px solid #343a40;
}

.separator {
    width: 0.5px;
}

.content {
    padding-left: 20px;
}

.system-name {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #555;
}

.nav-item img {
    cursor: pointer;
}

.btn-danger {
    font-size: 16px;
    padding: 8px 16px;
}

.expandable {
    cursor: pointer;
}

.collapse td {
    background-color: #f1f1f1;
}
