* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Fuente general */
}

/*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*/
/*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*//*LOGIN USUARIO*/

#fondo-login-usuario {
    background-image: url('../assets/Fondo.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#encabezado-login-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#izquierda-login-usuario {
    display: flex;
    align-items: center;
    width: 33.33%;
}

#logo-login-usuario {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#izquierda-login-usuario h1 {
    color: white;
    font-size: 20px;
}

#derecha-login-usuario {
    color: white;
    font-size: 16px;
    width: 66.67%;
}

#formulario-login-usuario {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.campo-formulario-login-usuario {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#formulario-login-usuario input {
    margin: 5px 0;
    padding: 6px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

#botones-formulario-login-usuario {
    display: flex;
    align-items: center;
}

#boton-login-usuario {
    background-color: #4EBDA9;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    padding: 6px;
    width: 100px;
    height: 36px;
    cursor: pointer;
    margin-right: 10px;
    opacity: 1; /* Opacidad al 100% */
}

#olvide-password-login-usuario {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#boton-login-usuario:hover,
#boton-cuadro1-login-usuario:hover,
#boton-cuadro2-login-usuario:hover {
    background-color: #3da58a;
}

#olvide-password-login-usuario:hover,
#olvide-password-cuadro1-login-usuario:hover {
    text-decoration: underline;
}

#cuerpo-login-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    margin-top: 150px;
}

#cuadro1-login-usuario, #cuadro2-login-usuario {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85; /* Opacidad del 85% */
}

#cuadro1-login-usuario {
    background-color: #ACA1A1;
    width: 520px;
    height: 600px;
    margin-right: 0px;
}

#titulo-cuadro1-login-usuario {
    font-size: 40px; /* Tamaño aumentado */
    margin-bottom: 20px;
    font-weight: bold;
    color: white; /* Color blanco */
}

#formulario-cuadro1-login-usuario {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-cuadro1-login-usuario input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#boton-cuadro1-login-usuario {
    background-color: #4EBDA9;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    padding: 10px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 1; /* Opacidad al 100% */
    align-self: center;
}

#olvide-password-cuadro1-login-usuario {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    align-self: center;
    font-style: italic;
}

#cuadro2-login-usuario {
    background-color: rgba(98, 56, 56, 0.9);
    width: 700px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}

#titulo-cuadro2-login-usuario {
    font-size: 40px; /* Tamaño aumentado */
    margin-bottom: 20px;
    font-weight: bold;
    color: white; /* Color blanco */
}

#descripcion-cuadro2-login-usuario {
    font-size: 20px; /* Tamaño aumentado */
    margin-bottom: 30px;
    text-align: center;
    color: white; /* Color blanco */
}

#boton-cuadro2-login-usuario {
    background-color: #BD9E4E;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    padding: 10px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    opacity: 1; /* Opacidad al 100% */
}

@media (max-width: 768px) {
    #cuerpo-login-usuario {
        flex-direction: column;
    }

    #cuadro1-login-usuario, #cuadro2-login-usuario {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    #formulario-cuadro1-login-usuario, #formulario-login-usuario {
        width: 100%;
    }
}


/*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*/
/*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*//*RECUPERACION USUARIO*/